@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Secondary: #2c4549;
    --Primary: #2c4549;
    --bg: #F5F9FF;
    --white: #fff;
}

/* global css start here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* background-color: var(--bg); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}
.pt-50 {
    padding-top: 50px ;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-70 {
    padding-bottom: 70px;
}
p{
    color: #575757;
}
/* global css end here */

/* header css start  */
.site-header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.site-logo img {
    max-width: 140px;
    filter: brightness(0) invert(1);
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar ul li{
    margin: 0 15px;
}
.nav-bar ul li a{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    transition: all 0.3s linear;

}

.nav-bar ul li a::before{
content: '';
position: absolute;
bottom: -15px;
left: 0;
width: 0;
height: 2px;
background-color: #fff;
transition: all 0.3s linear;

}
.nav-bar ul li a.active::before, .nav-bar ul li a:hover::before{
    width: 100%;
}
.nav-bar ul li a.active, .nav-bar ul li a:hover{
    color: #fff;
}

.contact-us a{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s linear;
    border-radius: 8px;
}
.contact-us a:hover{
    background-color: transparent;
    color: #fff;
}
.site-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.toggle, .close{
    display: none;
}
.site-header.fixed-header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.site-header.fixed-header .site-logo img {
    filter: inherit;
}

.fixed-header .nav-bar ul li a.active, .fixed-header .nav-bar ul li a:hover {
    color: var(--Primary);
}
.fixed-header .nav-bar ul li a {
    color: #000;
}
.fixed-header .nav-bar ul li a::before{
background-color: var(--Primary);
}
.fixed-header .contact-us a{
background-color: var(--Primary);
border-color: #2961ab;
}
.fixed-header .contact-us a:hover{
    background-color: transparent;
    color: var(--Primary);
}

/* header css end  */
/* banner section css start */
.site-banner{
    background-image: url(../images/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.site-banner .container{
    height: 100%;
}
.banner-wrap {
    height: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    position: relative;
}
.banner-txt h1{
    font-size: 70px;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
}
.banner-txt p{
    font-size: 22px;
    color: #fff;
}
/* banner section css end  */
/* banner bottom text css  */
.bottom-text{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.bottom-text h2{
    font-size: 35px;
    font-weight: 600;
    color: var(--Primary);
}
.bottom-text p{
    font-size: 18px;

}
.moretext {
    display: none;
  }
.top-txt {
    padding: 20px;
    text-align: center;
}
.top-txt h2 {
    font-size: 50px;        
    font-weight: 600;
    margin-bottom: 20px;
}
.top-txt p {
    font-size: 22px;
}
.top-sec-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;

}
.top-left-img{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top-left-img img{
    height: 49%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.top-right-img{
    width: 49%;
    height: 100%;
}
.top-right-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* main section css start */
.main-wrap {
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}
.main-img {
    height: 500px;
    overflow: hidden;
}
.main-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-wrap .row{
    align-items: center;
}
.main-txt h3 {
    font-size: 30px;
    color: var(--Primary);
    font-weight: 600;
}
.main-txt p{
    font-size: 18px;
    margin: 15px  0;
}
.main-txt {
    padding: 20px;
}
/* main section css end */
/* card section start  */
.card-img {
    height: 100%;
}
.card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-wrap {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card-txt{
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.card-txt h4{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
/* card section end */
/* disclaimer section css start */
.disclaimer-txt h4{
    font-size: 30px;
    color: var(--Primary);
    font-weight: 600;
}
.disclaimer-txt p{
    font-size: 16px;
}


/* disclaimer section css end  */


/* sub pages css start  */
.sub-banner{
    background-image: url(../images/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
.sub-banner .container{
    height: 100%;
}
.sub-banner-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sub-bnr-txt h2{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.sub-bnr-txt p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.monte-carlo .top-sec-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.monte-carlo .top-txt p{
    font-size: 18px;
    text-align: center;
}
a.moreless-button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 40px;
    background-color: var(--Secondary);
    border: 1px solid #2c4549;
    transition: all 0.3s linear;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;
}
.site-heading h2{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin: 50px auto;
    max-width: 600px;

}
.price{
    margin: 10px 0;
}
.price p{
    font-weight: 500;
    font-style: italic;
    margin: 5px 0;
}
.price p span{
display: block;
}
.price p span i{
    color: var(--Primary);
}
.read-more a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 40px;
    /*background-color: var(--Primary);
    */background-color: var(--Secondary);
    border: 1px solid #2c4549;
    transition: all 0.3s linear;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;

}
.read-more a:hover{
    background-color: transparent;
    color: #2c4549;
}
.privacy-wrap{
    /* margin: 20px 0; */
    margin-bottom: 30px;
}
.privacy-wrap ul{
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
}
.privacy-wrap p, .privacy-wrap ul li{
    font-size: 16px;
    margin-bottom: 10px;
}
.privacy-wrap ul li{
    margin-bottom: 5px;
}
/* sub pages css end  */




/* faq css start */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-button::after {
    transition: all 0.5s;
}

.accordion-item {
    background-color: #fff;
    border: none;
}

.accordion-button:not(.collapsed),
.accordion-button {
    color: #fff;
    background-color: var(--Secondary);
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion-body {
    padding: 1rem 1.25rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

:focus-visible {
    outline: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button {
    border-radius: 10px !important;
    font-size: 18px;
}

.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

.site-heading h2 {
    font-size: 40px;
    color: var(--Primary);
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

div#accordionExample {
    max-width: 900px;
    margin: 0 auto;
}

/* faq css end */





















/* footer css start  */
.site-footer{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-logo img {
    max-width: 140px;

}
.footer-heading h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--Primary);
}
.footer-links ul li a{
    font-size: 18px;
    color: #575757;
    position: relative;
    text-transform: capitalize;
    transition: all 0.3s linear;
    font-weight: 500;
}
.footer-links ul li a::before{
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 0%;
height: 2px;
background-color: var(--Primary);
transition: all 0.3s linear;

}
.footer-links ul li a:hover{
    color: var(--Primary);
}
.footer-links ul li a:hover::before{
    width: 100%;
}
.footer-links ul li {
    margin: 10px 0;
}
.social-links ul li a{
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2c4549;
    border-radius: 70px;
    color: var(--Primary);
    transition: all 0.3s linear;

}
.social-links ul li a:hover{
    background-color: var(--Primary);
    color: var(--white);
}
.social-links ul li{
    padding-inline-end: 15px;
}
.social-links ul {
    display: flex;
    align-items: center;
}
/* footer css end  */



.carousel-inner p {
    color: #fff;
}
.carousel-inner h5 {
    color: #fff;
}
.carousel-caption {
    bottom: 45%!important;
    z-index: 999;
}



.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none;
}
.carousel-item img {
    object-fit: cover;
    height: 700px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.main_bg_black{
    position: relative;
}
.main_bg_black::before {
    position: absolute;
    content: '';
    background: #00000069;
    width: 100%;
    height: 100%;
    z-index: 1;
}
ul.offer_ul {
    list-style: disc;
    padding-left: 10px;
}